* text=auto !eol
action/editer_message.php -text
/agenda.css -text
/agenda.html -text
/agenda_jour.html -text
/agenda_mois.html -text
/agenda_periode.html -text
/agenda_semaine.html -text
base/organiseur.php -text
base/organiseur_upgrade.php -text
exec/calendrier.php -text
exec/menu_agenda.php -text
exec/message.php -text
exec/message_edit.php -text
exec/messagerie.php -text
filtres/agenda.php -text
formulaires/configurer_messagerie_agenda.html -text
formulaires/configurer_messagerie_agenda.php -text
inc/agenda.php -text
inc/message_select.php -text
/organiseur_autoriser.php -text
/organiseur_pipelines.php -text
/plugin.xml -text
prive/rss/messagerie.html -text
prive/squelettes/inclure/configurer_messagerie.html -text
prive/style_prive_plugin_organiseur.html -text
prive/themes/spip/images/agenda-16.png -text
prive/themes/spip/images/agenda-24.png -text
prive/themes/spip/images/annonce-16.png -text
prive/themes/spip/images/annonce-24.png -text
prive/themes/spip/images/annonce-add-16.png -text
prive/themes/spip/images/annonce-add-24.png -text
prive/themes/spip/images/annonce-del-16.png -text
prive/themes/spip/images/annonce-del-24.png -text
prive/themes/spip/images/annonce-edit-16.png -text
prive/themes/spip/images/annonce-edit-24.png -text
prive/themes/spip/images/annonce-new-16.png -text
prive/themes/spip/images/annonce-new-24.png -text
prive/themes/spip/images/calendrier-16.png -text
prive/themes/spip/images/calendrier-24.png -text
prive/themes/spip/images/calendrier-add-16.png -text
prive/themes/spip/images/calendrier-add-24.png -text
prive/themes/spip/images/calendrier-del-16.png -text
prive/themes/spip/images/calendrier-del-24.png -text
prive/themes/spip/images/calendrier-edit-16.png -text
prive/themes/spip/images/calendrier-edit-24.png -text
prive/themes/spip/images/calendrier-new-16.png -text
prive/themes/spip/images/calendrier-new-24.png -text
prive/themes/spip/images/message-16.png -text
prive/themes/spip/images/message-24.png -text
prive/themes/spip/images/message-add-16.png -text
prive/themes/spip/images/message-add-24.png -text
prive/themes/spip/images/message-del-16.png -text
prive/themes/spip/images/message-del-24.png -text
prive/themes/spip/images/message-edit-16.png -text
prive/themes/spip/images/message-edit-24.png -text
prive/themes/spip/images/message-envoyer-16.png -text
prive/themes/spip/images/message-envoyer-24.png -text
prive/themes/spip/images/message-new-16.png -text
prive/themes/spip/images/message-new-24.png -text
prive/themes/spip/images/messagerie-16.png -text
prive/themes/spip/images/messagerie-24.png -text
