* text=auto !eol
action/effacer_messagerecu.php -text
action/envoyer_message.php -text
action/quete_autocomplete.php -text
action/quete_calendrier_prive.php -text
action/supprimer_message.php -text
base/organiseur.php -text
/calendrier.css -text
/calendrier_quete.json.html -text
/calendrier_quete.json_fonctions.php -text
contenu/calendrier.html -text
formulaires/configurer_messagerie_agenda.html -text
formulaires/configurer_messagerie_agenda.php -text
formulaires/editer_message.html -text
formulaires/editer_message.js -text
formulaires/editer_message.php -text
formulaires/inc-destinataires-message.html -text
inc/date_gestion.php -text
inc/messages.php -text
inc/quete_calendrier.php -text
javascript/jquery.autocomplete.js -text
lang/organiseur.xml -text
lang/organiseur_ar.php -text
lang/organiseur_de.php -text
lang/organiseur_en.php -text
lang/organiseur_es.php -text
lang/organiseur_fa.php -text
lang/organiseur_fr.php -text
lang/organiseur_it.php -text
lang/organiseur_nl.php -text
lang/organiseur_pt.php -text
lang/organiseur_ru.php -text
lang/organiseur_sk.php -text
lang/paquet-organiseur.xml -text
lang/paquet-organiseur_ar.php -text
lang/paquet-organiseur_de.php -text
lang/paquet-organiseur_en.php -text
lang/paquet-organiseur_es.php -text
lang/paquet-organiseur_fa.php -text
lang/paquet-organiseur_it.php -text
lang/paquet-organiseur_lb.php -text
lang/paquet-organiseur_nl.php -text
lang/paquet-organiseur_pt.php -text
lang/paquet-organiseur_ru.php -text
lang/paquet-organiseur_sk.php -text
lib/fullcalendar/fullcalendar.css -text
lib/fullcalendar/fullcalendar.js -text
lib/fullcalendar/fullcalendar.min.js -text
lib/fullcalendar/fullcalendar.print.css -text
lib/fullcalendar/gcal.js -text
notifications/instituermessage.php -text
notifications/message_affich_publie.html -text
notifications/message_normal_publie.html -text
/organiseur_administrations.php -text
/organiseur_autoriser.php -text
/organiseur_fonctions.php -text
/organiseur_ieconfig.php -text
/organiseur_pipelines.php -text
prive/objets/contenu/message.html -text
prive/objets/liste/messages-envoyes.html -text
prive/objets/liste/messages-recus.html -text
prive/rss/messages.html -text
prive/squelettes/contenu/calendrier.html -text
prive/squelettes/contenu/message.html -text
prive/squelettes/contenu/message_edit.html -text
prive/squelettes/contenu/messages.html -text
prive/squelettes/inclure/configurer_messagerie.html -text
prive/squelettes/inclure/organiseur-autocomplete-auteur.html -text
prive/squelettes/inclure/organiseur-envoi.html -text
prive/squelettes/inclure/organiseur-interventions.html -text
prive/squelettes/inclure/organiseur-message.html -text
prive/squelettes/inclure/organiseur-rappels.html -text
prive/squelettes/inclure/organiseur-reception.html -text
prive/squelettes/inclure/organiseur-rv.html -text
prive/squelettes/navigation/message.html -text
prive/squelettes/navigation/messages.html -text
prive/squelettes/top/calendrier.html -text
prive/style_prive_plugin_organiseur.html -text
prive/themes/spip/images/agenda-16.png -text
prive/themes/spip/images/agenda-24.png -text
prive/themes/spip/images/agenda-32.png -text
prive/themes/spip/images/agenda-add-16.png -text
prive/themes/spip/images/agenda-add-24.png -text
prive/themes/spip/images/agenda-add-32.png -text
prive/themes/spip/images/agenda-del-16.png -text
prive/themes/spip/images/agenda-del-24.png -text
prive/themes/spip/images/agenda-del-32.png -text
prive/themes/spip/images/agenda-edit-16.png -text
prive/themes/spip/images/agenda-edit-24.png -text
prive/themes/spip/images/agenda-edit-32.png -text
prive/themes/spip/images/agenda-new-16.png -text
prive/themes/spip/images/agenda-new-24.png -text
prive/themes/spip/images/agenda-new-32.png -text
prive/themes/spip/images/annonce-16.png -text
prive/themes/spip/images/annonce-24.png -text
prive/themes/spip/images/annonce-32.png -text
prive/themes/spip/images/annonce-add-16.png -text
prive/themes/spip/images/annonce-add-24.png -text
prive/themes/spip/images/annonce-add-32.png -text
prive/themes/spip/images/annonce-del-16.png -text
prive/themes/spip/images/annonce-del-24.png -text
prive/themes/spip/images/annonce-del-32.png -text
prive/themes/spip/images/annonce-edit-16.png -text
prive/themes/spip/images/annonce-edit-24.png -text
prive/themes/spip/images/annonce-edit-32.png -text
prive/themes/spip/images/annonce-new-16.png -text
prive/themes/spip/images/annonce-new-24.png -text
prive/themes/spip/images/annonce-new-32.png -text
prive/themes/spip/images/calendrier-16.png -text
prive/themes/spip/images/calendrier-24.png -text
prive/themes/spip/images/calendrier-32.png -text
prive/themes/spip/images/calendrier-add-16.png -text
prive/themes/spip/images/calendrier-add-24.png -text
prive/themes/spip/images/calendrier-add-32.png -text
prive/themes/spip/images/calendrier-del-16.png -text
prive/themes/spip/images/calendrier-del-24.png -text
prive/themes/spip/images/calendrier-del-32.png -text
prive/themes/spip/images/calendrier-edit-16.png -text
prive/themes/spip/images/calendrier-edit-24.png -text
prive/themes/spip/images/calendrier-edit-32.png -text
prive/themes/spip/images/calendrier-new-16.png -text
prive/themes/spip/images/calendrier-new-24.png -text
prive/themes/spip/images/calendrier-new-32.png -text
prive/themes/spip/images/heure-16.png -text
prive/themes/spip/images/heure-24.png -text
prive/themes/spip/images/heure-32.png -text
prive/themes/spip/images/heure-on-16.png -text
prive/themes/spip/images/heure-on-24.png -text
prive/themes/spip/images/heure-on-32.png -text
prive/themes/spip/images/message-16.png -text
prive/themes/spip/images/message-24.png -text
prive/themes/spip/images/message-32.png -text
prive/themes/spip/images/message-add-16.png -text
prive/themes/spip/images/message-add-32.png -text
prive/themes/spip/images/message-del-16.png -text
prive/themes/spip/images/message-del-32.png -text
prive/themes/spip/images/message-edit-16.png -text
prive/themes/spip/images/message-edit-32.png -text
prive/themes/spip/images/message-envoyer-16.png -text
prive/themes/spip/images/message-envoyer-24.png -text
prive/themes/spip/images/message-new-16.png -text
prive/themes/spip/images/message-new-32.png -text
prive/themes/spip/images/messagerie-16.png -text
prive/themes/spip/images/messagerie-24.png -text
prive/themes/spip/images/messagerie-32.png -text
prive/themes/spip/images/pense-bete-16.png -text
prive/themes/spip/images/pense-bete-24.png -text
prive/themes/spip/images/pensebete-16.png -text
prive/themes/spip/images/pensebete-24.png -text
prive/themes/spip/images/pensebete-32.png -text
prive/themes/spip/images/pensebete-add-16.png -text
prive/themes/spip/images/pensebete-add-24.png -text
prive/themes/spip/images/pensebete-add-32.png -text
prive/themes/spip/images/pensebete-del-16.png -text
prive/themes/spip/images/pensebete-del-24.png -text
prive/themes/spip/images/pensebete-del-32.png -text
prive/themes/spip/images/pensebete-edit-16.png -text
prive/themes/spip/images/pensebete-edit-24.png -text
prive/themes/spip/images/pensebete-edit-32.png -text
prive/themes/spip/images/pensebete-new-16.png -text
prive/themes/spip/images/pensebete-new-24.png -text
prive/themes/spip/images/pensebete-new-32.png -text
prive/themes/spip/images/pictonew-16.png -text
prive/themes/spip2/images/agenda-16.png -text
prive/themes/spip2/images/agenda-24.png -text
prive/themes/spip2/images/annonce-16.png -text
prive/themes/spip2/images/annonce-24.png -text
prive/themes/spip2/images/annonce-add-16.png -text
prive/themes/spip2/images/annonce-add-24.png -text
prive/themes/spip2/images/annonce-del-16.png -text
prive/themes/spip2/images/annonce-del-24.png -text
prive/themes/spip2/images/annonce-edit-16.png -text
prive/themes/spip2/images/annonce-edit-24.png -text
prive/themes/spip2/images/annonce-new-16.png -text
prive/themes/spip2/images/annonce-new-24.png -text
prive/themes/spip2/images/calendrier-16.png -text
prive/themes/spip2/images/calendrier-24.png -text
prive/themes/spip2/images/calendrier-add-16.png -text
prive/themes/spip2/images/calendrier-add-24.png -text
prive/themes/spip2/images/calendrier-del-16.png -text
prive/themes/spip2/images/calendrier-del-24.png -text
prive/themes/spip2/images/calendrier-edit-16.png -text
prive/themes/spip2/images/calendrier-edit-24.png -text
prive/themes/spip2/images/calendrier-new-16.png -text
prive/themes/spip2/images/calendrier-new-24.png -text
prive/themes/spip2/images/message-16.png -text
prive/themes/spip2/images/message-24.png -text
prive/themes/spip2/images/message-add-16.png -text
prive/themes/spip2/images/message-add-24.png -text
prive/themes/spip2/images/message-del-16.png -text
prive/themes/spip2/images/message-del-24.png -text
prive/themes/spip2/images/message-edit-16.png -text
prive/themes/spip2/images/message-edit-24.png -text
prive/themes/spip2/images/message-envoyer-16.png -text
prive/themes/spip2/images/message-envoyer-24.png -text
prive/themes/spip2/images/message-new-16.png -text
prive/themes/spip2/images/message-new-24.png -text
prive/themes/spip2/images/messagerie-16.png -text
prive/themes/spip2/images/messagerie-24.png -text
prive/themes/spip2/images/pensebete-16.png -text
prive/themes/spip2/images/pensebete-24.png -text
